@import "./reset";
@import "./fonts";
@import "./variables";

body {
	font-family: "Montserrat", sans-serif;
	background-color: black;
	color: white;
	font-weight: 500;
}

#root {
	min-height: 100%;
}

.rc-slider-rail,
.rc-slider-track {
	background-color: var(--primary-color) !important;
}

.rc-slider-handle {
	background-color: var(--primary-color) !important;
	border: none !important;
	opacity: 1 !important;
	box-shadow: none !important;
}

.rc-slider {
	margin: 0 5px;
	width: auto !important;
}
