.TourCard {
	width: 360px;
	position: relative;
	height: 441px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	cursor: pointer;
	padding-bottom: 51px;
}

.img {
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	border-radius: 50px;
	z-index: -1;
	height: 100%;
}

.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 33px;
	text-align: center;
}
