.price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	span {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
	}
}

.suptitle {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 29px;
}

.checkboxes {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-bottom: 40px;
}
