.item {
	border: 3px solid #f50000;
	border-radius: 50px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.TourData {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 60px;
}
