.TeamCard {
	background: #4a4a4a;
	border-radius: 50px;
	height: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.img {
	width: 100%;
	height: 382.91px;
	border-radius: 50px;
	margin-bottom: 23px;
}

.name {
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
}
.job {
	margin: 10px 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}
